#page {
    padding-top: 60px;
}

.list{

}

.list .item{
    margin-bottom: 10px;
    border-bottom: 1px dashed #ccc;
}

.list h2{
    font-size: 24px;
    line-height: 100%;
    margin-top: 0;
}

.list .content .summary{
    color: #666;
}

.grid .item{
    height: 200px;
    overflow: hidden;
}

.grid .item .summary{
    height: 100px;
    overflow: hidden;
}

.user_grid{

}

.user_grid .item{
    float:left;
    width: 50px;
    text-align: center;
    overflow: hidden;
}

.user_grid .item .username{
    display: block;
}

#footer{
    margin-top: 10px;
    border-top: 1px dashed #ddd;
    padding-top: 10px;
    padding-bottom: 5px;
    text-align: center;
}